link(rel="import" href="../../bower_components/polymer/polymer.html")
link(rel="import" href="../../bower_components/iron-ajax/iron-ajax.html")

dom-module(id="audio-players")

  template

    iron-ajax(
      id="ajax"
      auto
      url="{{source}}"
      handle-as="json"
      debounce-duration="300"
      on-response="onResponse"
    )

    template(is="dom-repeat" items="{{tracks}}")
      audio-player(url="{{item.url}}")

    content

  script
    :livescript
      Polymer do
        is: 'audio-players'
        onResponse: (request) ->
          @tracks = request.detail.response
        properties:
          tracks:
            type: Array
            value: []
          source:
            type: String
            notify: true
